* {
	box-sizing: border-box;
}
body {
	width: 100%;
	margin: 0 auto;
  font-family: lato;
}
nav {
	width: 100%;
  height: 75px;
	background-color: #c8cfd9;
  position: static;
}
nav ul {
	display: inline-block;
	list-style: none;
  float: right;
  margin-right: 25px;
}
nav ul li {
	margin: 5px;
  font-size: 25px;
  text-transform: uppercase;
  display: inline-block;
}
nav ul li:hover {
	/*background-color: #adb5c0;*/
  border-top: solid 5px #f4511e;
  margin: 0px;
}
nav img {
	display: inline-flex;
	margin: 10px;
}
.middle {
	width: 100%;
  height: 550px;
	background-image: url(C:/Users/Kalor/Desktop/test/stronka/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.middle p {
  font-size: 28px;
  font-style: italic;
  color: #152647;
  margin: 35px 90px;
}
.middle ul li {
  font-size: 32px;
  font-style: bold;
  color: #152647;
  margin: 8px 90px;
  /*text-align: center;*/
}
.buttonPosition {
  text-align: right;
  margin: 8px 90px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
  font-size: 37px;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.internition {
  text-transform: uppercase;
  text-align: center;
  background-color: black;
  color: #152647;
  font-size: 25px;
}
.content {
  text-align: center;
  width: 100%;
  background-color: #c8cfd9;
}
.art {
  border: solid 1px;
  width: 30%;
  margin: 15px;
  display: inline-block;
}
footer {
  width: 100%;
  background-color: #C8CFB0;
}
.foot {
  width: 30%;
  margin: 15px;
  display: inline-block;
}